/*Copyright @ 2021 Hariom Gola. All Right Reserved Not to be Used for Making profit*/
/**
* JavaScript Notes
*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'IBM Plex Serif', serif;
}

body {
/*background: #E4E4E4 url(https://raw.github.com/subtlepatterns/SubtlePatterns/master/cardboard_flat.png) repeat;*/
background-color: #f6f8fa;
}
#heading {
text-align: center;
height: 5vh;
font-size: 3vh;
background-color: #f1f1f1;
border-left: 0.3vh solid #4caf50;
border-right: 0.3vh solid #4caf50;
border-top: 0.3vh solid #4caf50;
border-bottom: 0.3vh solid #4caf50;
}

#notes {
color: black;
}

#nav {
text-align: center;
}

#pre {
height: 90vh;
width: auto;
overflow-x: auto;
overflow-y: auto;
/* border-left: 3px solid #4caf50; */
background-color: #fafafa;
text-align: inherit;

}

/* Style for Verticle Tab Start */

/* Style the tab */

.tab {
float: left;
border: none;
background-color: #f1f1f1;
width: 10%;
height: 95vh;
overflow-y: auto;
}

/* Style the buttons inside the tab */
.tab button {
display: block;
background-color: inherit;
color: black;
padding: 12px 16px;
width: 100%;
border: none;
outline: none;
text-align: left;
cursor: pointer;
transition: 0.3s;
font-size: small;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #808080;
}

/* Create an active/current "tab button" class */
.tab button.active {
background-color: #4caf50;
}

/* Style the tab content */
.tabcontent {
float: left;
padding: 0px 2px;
border: none;
height: 90vh;
width: 90%;
border-left: none;
}

/* Style for Vertical Tab End */
/* width */
::-webkit-scrollbar {
width: 3px;
height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey;
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #4caf50;
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: red;
}

::-webkit-scrollbar-button {
width: 60vh;
height: 20vh;
}

.path {
    animation: draw 5s infinite;
}

@keyframes draw {
    50% {
        stroke-dashoffset: 0;
    }
}

/*Contact Section finish here*/
#copyright
{
    position: fixed;
   left: 0;
   top: 95.2vh;
   bottom: 0;
   width: 99.8%;
   height: 5vh;
   background-color: #000000;
   color: white;
}

#copyrightline{
    font-size: 2vh;
    padding: 0.8vh;
    text-align: center;
}

/*JavaScript Notes CSS*/
/*Copyright @ 2021 Hariom Gola. All Right Reserved Not to be Used for Making profit*/