/*Copyright @ 2021 Hariom Gola. All Right Reserved Not to be Used for Making profit*/
/**
* Angular Notes
*/
*{
box-sizing: border-box;
font-family: 'IBM Plex Serif', serif;
}

body {
/*background: #E4E4E4 url(https://raw.github.com/subtlepatterns/SubtlePatterns/master/cardboard_flat.png) repeat;*/
background-color: #f6f8fa;
}
#heading {
text-align: center;
background-color: #f1f1f1;
border-left: 2px solid #4caf50;
border-right: 2px solid #4caf50;
border-top: 2px solid #4caf50;
border-bottom: 2px solid #4caf50;
}

#notes {
color: black;
}

#nav {
text-align: center;
}

#pre {
height: 87vh;
width: auto;
overflow-x: auto;
overflow-y: auto;
/* border-left: 3px solid #4caf50; */
background-color: none;
text-align: inherit;
}

/* Style for Verticle Tab Start */

/* Style the tab */
.tab {
float: left;
border: none;
background-color: #f1f1f1;
width: 10%;
height: 95vh;
overflow-y: auto;
}

/* Style the buttons inside the tab */
.tab button {
display: block;
background-color: inherit;
color: black;
padding: 12px 16px;
width: 100%;
border: none;
outline: none;
text-align: left;
cursor: pointer;
transition: 0.3s;
font-size: small;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #808080;
}

/* Create an active/current "tab button" class */
.tab button.active {
background-color: #4caf50;
}

/* Style the tab content */
.tabcontent {
float: left;
padding: 0px 12px;
border: none;
width: 90%;
border-left: none;
height: 300px;
}

/* Style for Vertical Tab End */
/* width */
::-webkit-scrollbar {
width: 3px;
height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey;
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #4caf50;
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: red;
}

::-webkit-scrollbar-button {
width: 60vh;
height: 20vh;
}

/*Angular Notes CSS*/
/*Copyright @ 2021 Hariom Gola. All Right Reserved Not to be Used for Making profit*/